*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.col-10 img{
    max-width: 100%;
    aspect-ratio: 21/9;
    object-fit: cover;
    height: 500px;
}

.container{
    max-width: 1200px;
    text-align: end;

}

.carousel{
    position: relative;
    border: 2px solid blue;
}

.d-none{
    display: none;
}

.active{
    display: block;
}

.col-2{
    flex-basis: ((100% * 2) / 12);
    display: flex;
    flex-direction: column;
}

.col-10{
    flex-basis: ((100% * 10) / 12);
}

.row{
    display: flex;
    margin-top: 200px;
    max-height: 498px;
}

.col-2 img{
    height: 100px ;
    aspect-ratio: 21/9;
    object-fit: cover;
}

.opacity{
    opacity: 0.5;
}

.bs{
    border: 5px solid yellow;   
}

.skip-up{
    bottom:0px;
}

.skip{
    position: absolute;
    left: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    border: none;
}

.skip-down{
    top: 0px;
}

.text{
    position: absolute;
    bottom: 40px;
    right: 0px;
    color: white;
    font-size: 30px;
}